{% extends 'blog/base.html' %}

{% block title%}
    <title>about me</title>
{% endblock%}

{% block page_name%}
    <h1>About Me</h1>
    <hr class="small">
    <span class="subheading">This is what I do.</span>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<p>I am a snail</p>
				<p>It's what I am</p>
				<p>I have to go slowly</p>
				<p>But I will never stop moving</p>
				<hr>	
				<p>I am Me, that is what I call myself in the Internet.I do have a real name,but,I don't want to share it with you.If that will make you uncomfortable ,你来打我呀！！！</p>
				<h3>About Me</h3>
					<ul>
						<li>A fat program beginer</li>
						<li>Always make lots of plans but forget to finish most of them</li>
						<li>Like bikes, motorbikes and cars.Now I can just afford a bike</li>
						<li>Signle, not want to be, have to be</li>
					</ul>
					<h3>TOOLS</h3>
					<ul>
						<li>C\C++, Java, Python and very little knowledge about Objective-c and golang</li>
						<li>Windows, Linux, Android, IOS</li>
						<li>Visual Studio 2010/2015, vim, Android Studio, xcode</li>
					</ul>
            </div>
        </div>
    </div>
{% endblock %}