{% extends 'blog/base.html' %}

{% block title%}
    <title>Contact Me</title>
{% endblock%}

{% block page_name%}
    <h1>Contact Me</h1>
    <hr class="small">
    <span class="subheading">Have questions? I have answers (maybe).</span>
{% endblock %}

{% block content %}
    <!--
    <form action="{% url 'leave_message' %}" method="post">
    {% csrf_token %}
        <label for="your_name">Your name:</label>
        <input id="your_name" type="text" name="your_name" maxlength="100">
        <input type="submit" value="OK">
    </form>
    -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
                <form action="{% url 'leave_message' %}" method="post" name="sentMessage" id="contactForm" novalidate>
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="customer_name">Name:</label>
                            <input maxlength="100" type="text" class="form-control" placeholder="Name" id="customer_name" name="customer_name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email_address">Email Address:</label>
                            <input maxlength="200" type="text" id = "email_address" class="form-control" placeholder="Email Address" name="email_address" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="phone_number">Phone Number:</label>
                            <input maxlength="20" type="text" class="form-control" placeholder="Phone Number" id="phone_number" name="phone_number" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="message">Message:</label>
                            <input maxlength="5000" type="text" rows="5" class="form-control" placeholder="Message" id="message" name="message" required data-validation-required-message="Please enter a message.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}