{% extends 'blog/base.html' %}

{% block title %}
    <title>Home-Me's blog</title>
{% endblock %}

{% block page_name%}
    <h1>ME_HAN_KUN</h1>
    <hr class="small">
    <span class="subheading">I am a snail ,slowly but never give up</span>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    {% if latest_article %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in latest_article %}
                <div class="post-preview">
                    <a href="article/{{ article.article_UUID_string }}">
                        <h2 class="post-title">
                            {{ article.article_title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.article_content }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ article.article_author }}</a> {{ article.article_published_time }}</p>
                </div>
            
                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="page1">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
		